{# Usage:  
    {% include "form-elements/textfield.twig" with {name: 'name', label: true, required: true, classes: 'class class', placeholder: 'placeholder'} %}
  #}
<div class="form-item form-type-textfield form-item-{{ name|css }}{% if classes %} {{ classes }}{% endif %}">
  {% if label %}
    <label for="edit-{{ name|css }}">
      {{ name }}
      {% if required %}
        <span class="form-required">*</span>
      {% endif %}
    </label>
  {% endif %}
  <input type="text" value="{{ value }}" id="edit-{{ name|css }}" class="form-text{% if required %} required{% endif %}"{% if placeholder %} placeholder="{{ placeholder }}"{% endif %} title="{{ name }}">
</div>